.box {
  width: 200px;
  height: 200px;
  background-color: red;
  -webkit-animation-name: anim-color;
  -moz-animation-name: anim-color;
  -o-animation-name: anim-color;
  animation-name: anim-color;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: cubic-bezier(.42,0,.21,1.02);
  -moz-animation-timing-function: cubic-bezier(.42,0,.21,1.02);
  -o-animation-timing-function: cubic-bezier(.42,0,.21,1.02);
  animation-timing-function: cubic-bezier(.42,0,.21,1.02);
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
  -webkit-animation: anim-color 2s easy 1s infinity reverse;
  -moz-animation: anim-color 2s easy 1s infinity reverse;
  -o-animation: anim-color 2s easy 1s infinity reverse;
  animation: anim-color 2s easy 1s infinity reverse;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes anim-color {
  0% {
    background-color: gray;
    margin-left: 0;
  }

  to {
    background-color: purple;
    margin-left: 400px;
  }
}
* {
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background: url("../img/fon-bg.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.card-product {
  width: 120rem;
  background-color: #fff;
  margin: auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,.2);
  box-shadow: 0 0 10px 3px rgba(0,0,0,.2);
}

.card-product .close-row {
  text-align: right;
  margin-top: 2rem;
  margin-right: 0;
}

.card-product .close-row img {
  width: 35px;
}

.card-product .card-row {
  text-align: center;
}

.card-product .card-row .col-img {
  margin-top: 3rem;
}

.card-product .card-row .col-main-form {
  text-align: left;
}

.card-product .card-row .col-main-form img {
  margin-top: -1.2rem;
}

.card-product .card-row .col-main-form h1 {
  font-size: 3.8rem;
  font-family: "Myriad Pro";
  color: #333;
}

.card-product .card-row .col-main-form h2 {
  font-size: 2rem;
  font-family: "Myriad Pro";
  color: #5c5c5c;
  text-transform: uppercase;
}

.card-product .card-row .col-main-form .price {
  font-size: 6.2rem;
  font-family: "Myriad Pro";
  color: #dfa913;
}

.card-product .card-row .col-main-form .rating {
  font-size: 2.5rem;
  font-family: "BlissPro";
  color: #f5bf2e;
}

.card-product .card-row .col-main-form .main-text {
  font-size: 2rem;
  font-family: "Myriad Pro";
  color: #5c5c5c;
}

.card-product .card-row .col-main-form .col {
  margin-top: 2rem;
}

.card-product .card-row .col-main-form .col img {
  width: 43px;
}

.card-product .card-row .col-main-form .col span {
  font-size: 4rem;
  font-family: "Myriad Pro";
  color: #333;
}

.card-product .card-row .col-main-form a {
  display: inline-block;
  margin-top: 3rem;
  margin-bottom: 6rem;
  text-align: center;
  background-color: #f4c13b;
  font-size: 2.5rem;
  font-family: "Myriad Pro";
  color: #fff;
  text-decoration: none;
  width: 32rem;
  height: 7rem;
  line-height: 7rem;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 10px #f4c13b;
  box-shadow: 0 0 10px #f4c13b;
}